<h2>creating custom class &style directives</h2>
<!-- <div [ngClass]="{appHighlight: 10 > 7,'app-container':true}"> -->
<div [appClass]="{ appHighlight:true,'app-container':true,appFont: 5 > 2}">
  <p>
    Lorem jbfoerinr egvbweiugkjfgruigjkrmgr nwdfjn dsncbam dvjbdnfirehnf e adovdifefriej scjknds of sdhfinf dwf wdiro3jknwdsdm cihdkncwqisad dhwnkfcwfoilc09dfn 
    bhwejdwerh ewuithnfic DNsig feagfiudg hrtiuftgyhbjdc frejbgfnfd vbjffeu g fheiug 4erik fh ir ghdin nfdigfehfds wehifueriu fdheriu 
    edhirje dasif8derjkdsgvbncdsiex rfucdbjxzf cuirfdshjkcxzn weiusdkjxzm, dusjkaSDKJHSADUVFHJD UIEJBSVCDIUEHJNXZK EUISKJZBVRDUSJ
  </p>

</div>

<!-- <div class="app-container" [ngStyle]="{backgroundColor:active ? 'green' :'red',color: active ? 'white' :'black'}"> -->
<div  class="app-container" [appStyle]="{backgroundColor:active ? 'green':'red',color:active ? 'black':'white'}">
  <p>
    Lorem jbfoerinr egvbweiugkjfgruigjkrmgr nwdfjn dsncbam dvjbdnfirehnf e adovdifefriej scjknds of sdhfinf dwf wdiro3jknwdsdm cihdkncwqisad dhwnkfcwfoilc09dfn 
    bhwejdwerh ewuithnfic DNsig feagfiudg hrtiuftgyhbjdc frejbgfnfd vbjffeu g fheiug 4erik fh ir ghdin nfdigfehfds wehifueriu fdheriu 
    edhirje dasif8derjkdsgvbncdsiex rfucdbjxzf cuirfdshjkcxzn weiusdkjxzm, dusjkaSDKJHSADUVFHJD UIEJBSVCDIUEHJNXZK EUISKJZBVRDUSJ
  </p>

</div>